*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-attachment: fixed;
    background-image: linear-gradient(to top, rgb(29, 243, 197), #ffff);
    background-repeat: no-repeat;
    background-size: 100%;
}

#tituli{
    /*
    LINEA PARA QUE LAS CAJAS QUEDEN EN EL CENRTO
    margin-left: 650px;*/
        display: flex;
        box-align:center;
        border-radius: 25px;
        padding: 10px;
        width: 14cm;
        background-color: #ffd4df;
        box-shadow: 5px 10px #FF0040;
        text-align: center;
        text-align: center;
}

#navigator{
    
    border-radius: 25px;
    padding: 10px;
    width: 14cm;
    background-color: #ffd4df;
    box-shadow: 5px 10px #FF0040;
}


#weas{
    
    border-radius: 25px;
    padding: 10px;
    width: 14cm;
    background-color: #ffd4df;
    box-shadow: 5px 10px #FF0040;
    text-align: center;
}
